<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Todo List</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>

  <main>
    <div class="page-title__container">
      <h1 class="page-title">todo<span class="page-title__bold">list</span></h1>
      <h2 class="tag-line">A simple todo list app built with Node, Express, and Mongo</h2>
    </div>
    <div class="task-container">
      <form class="add-task__form">
        <input class="add-task__input" type="text" name="add-task" placeholder="Insert your task here..." autocomplete="off">
      </form>
      <ul class="task-list">
        <li class="task-list__task selected"><a class="task-list__task__link" href="/">Groceries</a><a aria-label="remove-task" class="task-list__task__remove-icon">&times;</a></li>
        <li class="task-list__task"><a class="task-list__task__link" href="/">Pug Food</a><a aria-label="remove-task" class="task-list__task__remove-icon">&times;</a></li>
        <li class="task-list__task"><a class="task-list__task__link" href="/">Bank</a><a aria-label="remove-task" class="task-list__task__remove-icon">&times;</a></li>
      </ul>
    </div>
  </main>

<script type="text/javascript" src="./main.js"></script>
</body>
</html>