<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Todo List</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>

  <main>
    <div class="page-title__container">
      <h1 class="page-title">todo<span class="page-title__bold">list</span></h1>
      <h2 class="tag-line">A simple todo list app built with Node, Express, and Mongo</h2>
    </div>
    <div class="todo-container">
      <form class="add-todo__form">
        <input class="add-todo__input" type="text" name="add-todo" placeholder="Enter your todo here..." autocomplete="off">
      </form>
      <ul class="todo-list">
        <% todos.forEach((todo, i) => { %>
          <li data-id="<%= todo._id  %>" data-completed="<%= todo.completed %>" class="todo-list__todo <%= todo.completed ? 'completed' : '' %>"><a class="todo-list__todo__link" href=""><%= todo.name %></a><a href="" aria-label="remove-todo" class="todo-list__todo__remove-icon">&times;</a></li>

        <% }); %>
      </ul>
    </div>
  </main>

<script type="text/javascript" src="./main.js"></script>
</body>
</html>
